page-message-comment {
  .content {
    background-color: #dedede;
  }
  .card {
    margin:12px 0;
    width: 100%;
  }

  blockquote {
    background-color: #f4f4f4;
    margin:0px;
    padding:10px 5px;
    color:#999;
  }
}
