<ion-content class="login-page" padding no-bounce>

    <div class="drip"></div>

    <ion-row padding>
        <ion-col (click)="goLoginDefaultPage()">
            <button class="login-button" ion-button round block color="light">手机号/邮箱</button>
        </ion-col>
    </ion-row>

    <ion-row text-center class="third-title" margin-top>
        <ion-col>
            <p ion-text>- 第三方账号登录 -</p>
        </ion-col>
    </ion-row>
    <ion-row text-center class="third-toolbar">
        <ion-col col-4 *ngIf="isWechatInstalled">
            <i class="iconfont icon-weixin" color="" (click)="doWechatLogin()"></i>
        </ion-col>
        <ion-col col-4 *ngIf="isQQInstalled">
            <i class="iconfont icon-qq" color="" (click)="doQQLogin()"></i>
        </ion-col>
        <ion-col col-4>
            <i class="iconfont icon-weibo" color="" (click)="doWeiboLogin()"></i>
        </ion-col>
    </ion-row>

    <ion-row padding text-center class="register-title">
        <ion-col>
            <span ion-text>还没有账号？<a (click)="goRegisterPage()">立即注册</a></span>
        </ion-col>
    </ion-row>

</ion-content>