page-event-like {
  ion-item {
    line-height: 60px!important;
  }

  .list-header {
    background-color: #fff!important;
    border-bottom: 0;
  }

  .toolbar-background {
    background: #fff!important;
  }

}
