page-goal-add {
  //.scroll-content {
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  justify-content: center;
  //  height: 100%;
  //}

  ion-checkbox {
    .checkbox-icon {
      width: 32px!important;
      height: 32px!important;
    }

    .checkbox-inner {
      left: 10px!important;
      position: absolute;
      width: 10px!important;
      height: 17px!important;
    }
  }

  h2 {
    font-size: 3rem!important;
    margin-bottom: 20px!important;
  }

  .create-btn {
    margin-top: 50px!important;
  }
}
