<ion-content >
  <ion-list no-lines>
    <ion-item *ngFor="let user of users;let i = index" (click)="goUserHomePage(user.user_id)">
      <ion-icon *ngIf="i<=2" item-start name="md-medal" [ngClass]="'medal'+i"></ion-icon>
      <ion-note *ngIf="i>2" item-start class="no">{{i+1}}</ion-note>
      <ion-avatar item-start >
        <img [src]="user.avatar_url || 'assets/img/default-avatar.jpg'">
      </ion-avatar>
      <h2>{{user.nickname|| '水滴用户'}}</h2>
      <ion-note item-end class="count">{{user.total_days}}天</ion-note>
      <!--<ion-icon item-end name="heart-outline"></ion-icon>-->
    </ion-item>
  </ion-list>
</ion-content>
