#tab-t0-2 {
  overflow: visible;
  position: relative;
  ion-icon {
    background-color: #9e9e9e;
    border-radius: 50%;
    border:0.5rem solid #fff;
    color:#fff;
    top: -1.8rem;
    position:absolute;
    min-height: 4.2rem;
    min-width: 4.2rem;
    font-size:2.8rem;
    line-height:1.3;
  }
  .tab-button-text {
    margin-top:2.3rem;
  }
}