
@import "../functions";

@mixin week-title($background-color: primary, $color: #fff) {
  margin: 0;
  color: $color;
  height: 44px;
  width: 100%;
  background-color: bindColors($background-color);
  padding: 15px 0;
}

dp-calendar{

  .toolbar-background-md, .toolbar-background-ios {
    background: transparent;
  }

  .week-toolbar {
    padding: 0;
  }

  .week-toolbar.toolbar-md {
    min-height: 44px;
  }

  .week-title.primary {
    @include week-title(primary);
  }

  .week-title.secondary {
    @include week-title(secondary);
  }

  .week-title.danger {
    @include week-title(danger);
  }

  .week-title.dark {
    @include week-title(dark);
  }

  .week-title.light {
    @include week-title(light, #9e9e9e);
  }

  .week-title.transparent {
    @include week-title(light, #9e9e9e);
    background-color: transparent;
  }

  .week-title.cal-color {
    @include week-title(cal-color);
  }

  .week-title li {
    list-style-type: none;
    display: block;
    float: left;
    width: 14%;
    text-align: center;
  }

  .week-title li:nth-of-type(7n), .week-title li:nth-of-type(7n+1) {
    width: 15%;
  }

  .toolbar-background {
    top:1px!important;
  }

  .days-container {
    background-color: #fff;
  }

  .days-box {
    padding: 0.5rem;
  }

  .days:nth-of-type(7n), .days:nth-of-type(7n+1) {
    width: 15%;
  }

  .days {
    width: 14%;
    float: left;
    text-align: center;
    height: 50px;
  }

   .days .marked p {
    color: #3b97f7;
    font-weight: 500;
  }

  .days .today {
    border: 1px solid #3b97f7;
    //padding-bottom: 2px;
  }

  .days .on-selected {
    background-color: #488aff;
    border: none;
  }

   .days .on-selected p {
    color: #ffffff;
    font-size: 1.0em;
  }

  button.days-btn {
    border-radius: 50%;
    width: 36px;
    display: block;
    margin: 0 auto;
    height: 36px;
    background-color: transparent;
    position: relative;
    z-index: 2;
  }

  button.days-btn p {
    margin: 0;
    font-size: 1.0em;
    color: #333;
  }

  .days .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    height: 12px;
    line-height: 6px;
    overflow: hidden;
  }

  .days .day-events span {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
    line-height: 5px;
    margin: 0 1px;
    background-color: #495aa7;
    border-radius: 50%;
  }


}
