page-event-detail {
  ion-content {
    background-color: #e0e0e0!important;
  }

  .list{
    margin-bottom:10px;
  }

  ion-list-header {
    margin-top: 0!important;
  }

  .list-header {
    background-color: #fff!important;
    border-bottom: 0;
  }

  .card-content {
    blockquote {
      background-color: #f4f4f4;
      padding:10px;
      margin:10px 0;
      color:#999;
    }
  }

  .likes-item {
    ion-avatar {
      float:right;
      margin-left:5px;
    }
  }

  .card{
    margin:1px 0;
    width: 100%;
  }

  .comment-card {
    ion-icon {
      color:#999;
      font-size:2rem;
    }
  }

  .action-bar {
    .toolbar-background {
      background-color: #fff;
    }
    ion-col {
      padding:0;
      .button {
        color:#424242;
        ion-icon {
          font-size:2.5rem;
        }
      }

    }
  }

  #comment-input {
    .text-input {
      border:1px solid #9e9e9e;
      padding:10px;
    }
  }

}
