<ion-header no-border>
    <ion-navbar>
        <ion-title>动态详情</ion-title>

        <ion-buttons end>
            <button ion-button icon-only clear (click)="showMenu()">
            <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content #eventContent>
    <ion-list class="event-content">
        <ion-card *ngIf="(event | json) != '{}'" no-shadow>
            <ion-item (click)="goUserHomePage(event.user)">
                <ion-avatar item-start>
                    <img [src]="event?.user.avatar_url || 'assets/img/default-avatar.jpg'" imgViewer>
                </ion-avatar>
                <h2>{{event?.user.nickname}}</h2>
                <p>{{event?.created_at | amLocale:"zh_cn" | amUtc | amTimeAgo }}</p>
                <dp-follow-button [followStatus]="event?.user.is_following" [followUser]="event?.user.id"
                                  item-end></dp-follow-button>
            </ion-item>
            <div *ngIf="event?.checkin.attaches.length>0" class="event-image row">
                <div class="" *ngFor="let attach of event?.checkin.attaches">
                    <div class="col" *ngIf="attach.type==1">
                        <img [src]="attach.url"  imageViewer>
                    </div>
                    <button ion-button outline round small (click)="playAudio(attach)" *ngIf="attach.type==2">{{attach.duration}} s</button>
                    <vg-player *ngIf="attach.type==3">
                        <video [vgMedia]="media" #media  preload="auto" controls crossorigin>
                            <source src="{{attach.url}}" type="video/mp4">
                        </video>
                    </vg-player>
                </div>
            </div>
            <ion-card-content *ngIf="event?.checkin">
                <p [innerHtml]="event?.checkin.content"></p>
                <blockquote>
                    <p>完成 <a (click)="goGoalHomePage(event?.checkin.user_goal.goal_id)">{{event?.checkin.user_goal.name}}</a>
                        打卡第{{event?.checkin.total_days}}天</p>
                    <p *ngFor="let item of event?.checkin.items">
                        <ion-icon name="list" color="dark"></ion-icon>
                        {{item.name+item.value+item.unit}}
                    </p>
                </blockquote>
            </ion-card-content>
        </ion-card>

        <ion-item class="likes-item" (click)="goEventLikePage()" no-lines no-border *ngIf="likes.length>0">
            <ion-avatar *ngFor="let like of likes">
                <img [src]="like.user.avatar_url || 'assets/img/default-avatar.jpg'"/>
            </ion-avatar>
            <p item-end>{{likes.length}} 点赞</p>
            <ion-icon name="ios-arrow-forward-outline" color="gray" item-end></ion-icon>
        </ion-item>

    </ion-list>

    <ion-list>
        <ion-item>
            <svg end class="icon svg-iconfont"  aria-hidden="true" *ngIf="event?.is_hot">
                <use xlink:href="#icon-jinbi1">
                </use>
            </svg>
            此动态被评选为「精选动态」
        </ion-item>
    </ion-list>

    <div class="white-content">
        <dp-loader *ngIf="isLoading"></dp-loader>
        <dp-comment [comments]="comments" (reply)="onReplyChange($event)"></dp-comment>
    </div>

</ion-content>

<ion-footer [keyboardAttach]="eventContent">
    <dp-comment-toolbar [source]="event" [replyComment]="replyComment" (like)="doLike($event)" (favorite)="doFavorite()" (comment)="doComment($event)" *ngIf="event"></dp-comment-toolbar>
</ion-footer>


