page-goal-checkin {
  .attach-del-btn {
    position: absolute;
    top:5px;
    right:5px;
    padding: 0;
    height: 1.5rem;
    z-index: 1000;
  }

  .large-icon {
    font-size:5rem;
    margin-right: 10px;
  }
}
