<ion-header no-border>
    <ion-navbar>
        <ion-title>创建打卡</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
        <ion-list margin-top no-lines class="gray-list">
            <ion-item>
                <ion-label stacked>打卡日期</ion-label>
            </ion-item>
            <ion-card class="no-margin-top">
                <ion-item>
                    <ion-datetime placeholder="今天" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" cancelText="取消"
                              doneText="保存" [min]="min" [max]="max" [(ngModel)]="day" name="day"></ion-datetime>
                </ion-item>
            </ion-card>

            <ion-item>
                <ion-label stacked>数值统计</ion-label>
            </ion-item>
            <ion-card *ngFor="let item of goal.items;let i=index;" [ngClass]="{'no-margin-top':i==0}">
                <ion-item-sliding >
                    <ion-item >
                        <ion-label fixed>{{item.name}}</ion-label>
                        <ion-input text-right maxlength="20" name="item[]" [(ngModel)]="item.expect"></ion-input>
                        <ion-note item-end>{{item.unit}}</ion-note>
                    </ion-item>
                    <ion-item-options side="right" *ngIf="goal.items.length>1">
                        <button ion-button color="danger" (click)="deleteItem(item,$event)">
                            删除
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-card>

            <ion-item>
                <ion-label stacked>打卡备注</ion-label>
            </ion-item>
            <ion-card class="no-margin-top">
                <ion-item>
                    <ion-textarea rows="4" placeholder="记录你的打卡内容。" [(ngModel)]="content" name="content"></ion-textarea>
                </ion-item>
            </ion-card>

            <ion-item no-border no-lines>
                <ion-icon name="camera" item-start (click)="choosePic($event)" class="large-icon"></ion-icon>
                <ion-icon name="mic"  item-start class="large-icon" (click)="doRecord()"></ion-icon>
                <ion-icon name="videocam"  item-start class="large-icon" (click)="doFilm()"></ion-icon>
            </ion-item>
        </ion-list>

        <ion-row>
            <ng-template ngFor let-attach [ngForOf]="attachs">
                <ion-col col-4 *ngIf="attach.type=='image'">
                    <img [src]="attach.url" imageViewer>
                </ion-col>
                <ion-col col-6 *ngIf="attach.type=='audio'">
                    <button clear ion-button color="dark" (click)="removeAttach($event)" class="attach-del-btn">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                    <button ion-button outline round block (click)="playAudio(attach)">{{attach.duration}}</button>
                </ion-col>
                <ion-col col-12  *ngIf="attach.type=='video'" style="max-height: 200px;">
                    <button clear ion-button color="light" (click)="removeAttach($event)" class="attach-del-btn">
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                    <vg-player>
                        <video [vgMedia]="media" #media  preload="auto" controls crossorigin>
                            <source src="{{attach.url}}" type="video/mp4">
                        </video>
                    </vg-player>
                </ion-col>
            </ng-template>
            <!-- <ion-col col-6>
                <button clear ion-button color="dark" (click)="removeAttach($event)" class="attach-del-btn">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
                <button ion-button outline round block (click)="playAudio(null)">6.2s</button>
            </ion-col>
            <ion-col col-12 style="max-height: 200px;">
                <button clear ion-button color="light" (click)="removeAttach($event)" class="attach-del-btn">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
                <vg-player>
                    <video [vgMedia]="media"  #media  preload="auto" controls  crossorigin>
                        <source src="http://file.growu.me/5c03434aede5e.mp4" type="video/mp4">
                    </video>
                </vg-player>
            </ion-col> -->
        </ion-row>
        <ion-row padding>
            <button block ion-button type="button" (click)="doCheckin($event)">提交</button>
        </ion-row>
</ion-content>
