.page-forget {
  ion-item {
    margin-top:20px;
  }
  .item-block:first-child {
    border:0;
  }

  ion-icon {
    color:#999;
  }

  .show-btn {
    font-size: 1.2em;
  }

  .footer-bar {
    span {
      color: #999;
    }
  }
}
