<ion-header no-border>
    <ion-navbar>
        <ion-title>提醒</ion-title>
        <ion-buttons end>
            <button ion-button icon-only clear color="gray" (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list margin-top no-lines class="gray-list">
        <ion-card (click)="datePicker.open()">
            <ion-item>
                <ion-icon name="md-add-circle" color="gray" item-start></ion-icon>
                添加提醒
                <!--<ion-icon item-end name="add"></ion-icon>-->
            </ion-item>
        </ion-card>

        <ion-item hidden="true">
            <ion-datetime  #datePicker hidden="true" displayFormat="HH:mm" pickerFormat="HH:mm" (ionChange)="onTimeSet()"
                          doneText="保存" cancelText="取消" [(ngModel)]="remind_time"></ion-datetime>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="reminds.length>0" class="gray-list" no-lines>
        <ion-card *ngFor="let remind of reminds; let i = index">
            <ion-item-sliding >
                <ion-item no-lines>
                    <ion-label>提醒{{i+1}}</ion-label>
                    <ion-note item-end>{{remind}}</ion-note>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteRemind(remind)">
                        删除
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-card>
    </ion-list>

    <ion-list no-lines class="gray-list">
        <ion-item>
            <ion-label stacked>其他设置</ion-label>
        </ion-item>
        <ion-card (click)="openSoundPage()">
            <ion-item>
                <ion-label>提醒铃声</ion-label>
                <ion-note item-end>{{sound.name}}</ion-note>
                <ion-icon item-end name="arrow-forward"></ion-icon>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-label>震动开启</ion-label>
                <ion-toggle item-end checked="false" [color]="color" [(ngModel)]="vibration"></ion-toggle>
            </ion-item>
        </ion-card>
    </ion-list>


    <div padding>
        <button ion-button block type="button" [color]="color" (click)="save()">保存</button>
    </div>

</ion-content>
