<ion-header>

  <ion-navbar color="primary">
    <ion-title>消息中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce class="no-scroll">
  <ion-list>
    <ion-item (click)="goPage('message-comment')">
      <ion-icon name="ios-chatboxes" item-start></ion-icon>
      评论
      <ion-note clear item-end>
        <ion-badge color="danger" *ngIf="messages.comment_count>0">{{messages.comment_count}}</ion-badge>
        <ion-icon name="arrow-forward">
        </ion-icon>
      </ion-note>
    </ion-item>
    <!--<ion-item (click)="goPage('message-at')">-->
      <!--<ion-icon name="ios-at" item-start></ion-icon>-->
      <!--@-->
      <!--<ion-note clear item-end>-->
        <!--<ion-icon name="arrow-forward"></ion-icon>-->
      <!--</ion-note>-->
    <!--</ion-item>-->
    <ion-item (click)="goPage('message-like')">
      <ion-icon name="ios-thumbs-up" item-start></ion-icon>
      赞
      <ion-badge item-end color="danger" *ngIf="messages.like_count>0">{{messages.like_count}}</ion-badge>
      <ion-note clear item-end>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item (click)="goPage('message-fan')">
      <ion-icon name="ios-contacts" item-start></ion-icon>
      粉丝
      <ion-note clear item-end>
        <ion-badge color="danger" *ngIf="messages.fan_count>0">{{messages.fan_count}}</ion-badge>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-note>
    </ion-item>
    <ion-item (click)="goPage('message-notice')">
      <ion-icon name="ios-notifications" item-start></ion-icon>
      通知
      <ion-badge color="danger" *ngIf="messages.notice_count>0">{{messages.notice_count}}</ion-badge>
      <ion-note clear item-end>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-note>
    </ion-item>
  </ion-list>

</ion-content>
