page-message {
  ion-icon {
    font-size:3.2rem;
    position: relative;
    color: #797070;
  }

  ion-badge {
    position: absolute;
    top:-5px;
  }

  ion-card {
    img {
      height: 200px;
      overflow: hidden;
    }
  }


}
