<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-segment [(ngModel)]="page" mode="wp" (ionChange)="changePage()">
      <ion-segment-button value="hot">
        精选
        <div class="bolder-sm"></div>
      </ion-segment-button>
      <ion-segment-button value="following">
        关注
        <div class="bolder-sm"></div>
      </ion-segment-button>
    </ion-segment>
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only>-->
        <!--<ion-icon name="camera"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <dp-loader *ngIf="isLoading"></dp-loader>

  <div class="my-blank" *ngIf="page=='following'&& hotEvents.length == 0 && !isLoading">
    <img src="assets/img/noevents.png">
    <!--<p>暂时还没有动态</p>-->
  </div>
  <!--<ion-slides *ngIf="mode=='hot'">-->
    <!--<ion-slide>-->
      <!--<img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=980290014,3494954107&fm=27&gp=0.jpg">-->
    <!--</ion-slide>-->

    <!--<ion-slide >-->
      <!--<img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1876707596,1588618309&fm=27&gp=0.jpg">-->
    <!--</ion-slide>-->

    <!--<ion-slide>-->
      <!--<img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3553020298,1715141379&fm=27&gp=0.jpg">-->
    <!--</ion-slide>-->

  <!--</ion-slides>-->

  <div [ngSwitch]="page">
    <div *ngSwitchCase="'hot'">
      <ion-row >
        <ion-col col-6 *ngFor="let event of hotEvents" class="event-col" (click)="goEventDetailPage(event)">
          <ion-card class="event-card">
            <div class="event-image" *ngIf="event.checkin">
              <p><img [src]="attach.url" *ngFor="let attach of event.checkin.attaches"/></p>
            </div>
            <ion-card-content *ngIf="event.checkin">
              <h2>{{event.checkin.user_goal.name}}</h2>
              <p [innerHTML]="event.checkin.content"></p>
            </ion-card-content>
            <ion-item class="event-footer">
              <ion-avatar item-start>
                <img [src]="event.user?.avatar_url|| 'assets/img/default-avatar.jpg'">
              </ion-avatar>
              <h2 ion-text color="dark">{{event.user?.nickname || '水滴用户'}}</h2>
              <ion-note item-end><ion-icon name="thumbs-up"></ion-icon> {{event.like_count}}</ion-note>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'following'">
      <dp-event [eventSource]="followEvents" *ngIf="followEvents.length>0"></dp-event>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载更多">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
