<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-buttons start>-->
      <!--<button ion-button icon-only>-->
        <!--<ion-icon name="person-add"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <ion-segment color="light" [(ngModel)]="mode" (ionChange)="changeMode()">
      <ion-segment-button value="hot">
        热门
      </ion-segment-button>
      <ion-segment-button value="follow">
        关注
      </ion-segment-button>
    </ion-segment>
    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only>-->
        <!--<ion-icon name="camera"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-slides *ngIf="mode=='hot'">
    <ion-slide>
      <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=980290014,3494954107&fm=27&gp=0.jpg">
    </ion-slide>

    <ion-slide >
      <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1876707596,1588618309&fm=27&gp=0.jpg">
    </ion-slide>

    <ion-slide>
      <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3553020298,1715141379&fm=27&gp=0.jpg">
    </ion-slide>

  </ion-slides>

  <ion-row *ngIf="mode=='hot'">
    <ion-col col-6 *ngFor="let event of events" class="event-col" (click)="goEventDetailPage(event)">
      <ion-card class="event-card">
        <div class="event-image">
          <p><img [src]="attach.url" *ngFor="let attach of event.attachs"/></p>
        </div>
        <ion-card-content>
          <p [innerHTML]="event.content">
          </p>
        </ion-card-content>
        <ion-item class="event-footer">
          <ion-avatar item-start>
            <img [src]="event.owner?.avatar_url|| 'assets/img/default-avatar.jpg'">
          </ion-avatar>
          <h2>{{event.owner?.nickname}}</h2>
          <ion-note item-end><ion-icon name="thumbs-up"></ion-icon> {{event.like_count}}</ion-note>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <my-event [eventSource]="events" *ngIf="mode=='follow' && events.length>0"></my-event>

  <div text-center style="position: absolute;left: 0;right: 0;top: 40%;" *ngIf="events.length == 0">
    <p>暂时还没有动态</p>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载更多">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
