<ion-content>
    <ion-segment padding [(ngModel)]="mode" color="primary" (ionChange)="changeMode($event)">
        <ion-segment-button value="week">
            周
        </ion-segment-button>
        <ion-segment-button value="month">
            月
        </ion-segment-button>
        <ion-segment-button value="year">
            年
        </ion-segment-button>
    </ion-segment>

    <div class="chart-container" style="display: block">
        <ion-toolbar  no-border-top>
            <ion-buttons start>
            <button ion-button icon-only color="gray" *ngIf="prevValue" (click)="goPrev()">
                <ion-icon name="md-arrow-dropleft"></ion-icon>
            </button>
            </ion-buttons>

            <ion-title>{{chartTitle}}</ion-title>

            <ion-buttons end>
                <button ion-button icon-only color="gray" *ngIf="nextValue" (click)="goNext()">
                    <ion-icon name="md-arrow-dropright"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [colors]="barChartColors"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>

    <ion-list margin-top>
        <ion-item>
            打卡天数
        <ion-note item-end> {{chartCheckinCount}} 天</ion-note>
        </ion-item>
        <ion-item>
            打卡率
            <ion-note item-end>{{chartCheckinRate}} %</ion-note>
        </ion-item>
    </ion-list>



</ion-content>
