page-goal-detail-chart {
  ion-content {
    background-color:#e0e0e0!important;
  }

  ion-segment,.chart-container {
    background-color: #fff;
  }

  .toolbar-title {
    font-size:1.3rem;
  }



}
