<ion-header no-border>

  <ion-navbar color="white">
    <ion-title>修改打卡</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list margin-top no-lines class="gray-list">
    <ion-item>
      <ion-label stacked>打卡日期</ion-label>
    </ion-item>
    <ion-card class="no-margin-top">
      <ion-item>
        <ion-datetime placeholder="今天" displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" cancelText="取消"
                      doneText="保存" [min]="min" [max]="max" [(ngModel)]="checkin.day" name="day"></ion-datetime>
      </ion-item>
    </ion-card>

    <ion-item>
      <ion-label stacked>数值统计</ion-label>
    </ion-item>
    <ion-card *ngFor="let item of checkin.items;let i=index;" [ngClass]="{'no-margin-top':i==0}">
      <ion-item-sliding >
        <ion-item >
          <ion-label fixed>{{item.name}}</ion-label>
          <ion-input text-right maxlength="20" name="item[]" [(ngModel)]="item.value"></ion-input>
          <ion-note item-end>{{item.unit}}</ion-note>
        </ion-item>
        <ion-item-options side="right" *ngIf="checkin.items.length>1">
          <button ion-button color="danger" (click)="deleteItem(item,$event)">
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

    <ion-item>
      <ion-label stacked>打卡备注</ion-label>
    </ion-item>
    <ion-card class="no-margin-top">
      <ion-item>
        <ion-textarea rows="5" placeholder="记录你的打卡内容。" [(ngModel)]="checkin.content" name="content"></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-item no-border no-lines>
      <ion-icon name="camera" item-start (click)="choosePic($event)" class="large-icon"></ion-icon>
      <!--<ion-icon name="mic" large item-start></ion-icon>-->
      <!--<ion-icon name="videocam" large item-start></ion-icon>-->
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col col-4 *ngFor="let attach of checkin.attachs">
      <button clear ion-button color="dark" (click)="removeAttach($event)" class="attach-del-btn">
        <ion-icon name="close-circle"></ion-icon>
      </button>
      <img [src]="attach.url" imageViewer>
    </ion-col>
  </ion-row>
  <ion-row padding>
    <button block ion-button type="button" (click)="doCheckin($event)">提交</button>
  </ion-row>
</ion-content>
