<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="openMenu($event)">
                <ion-icon name="ios-menu"></ion-icon>
            </button>
        </ion-buttons>

            <ion-title>{{viewTitle}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goGoalAddPage()">
                <ion-icon name="md-add" *ngIf="!setting.enableSort"></ion-icon>
            </button>

            <button ion-button icon-only (click)="saveGoalsOrder()" *ngIf="setting.enableSort">
                <ion-icon name="md-checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="page-home no-scroll">

    <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content-->
    <!--pullingIcon="arrow-dropdown"-->
    <!--pullingText="Pull to refresh"-->
    <!--refreshingSpinner="circles"-->
    <!--refreshingText="Refreshing...">-->
    <!--</ion-refresher-content>-->
    <!--</ion-refresher>-->

    <my-calendar (onTitleChanged)="onViewTitleChanged($event)"
                 (onDaySelected)="onDaySelected($event)"
                 [mode]="setting?.calendarMode"
                 *ngIf="setting?.calendarMode">
    </my-calendar>

    <ion-scroll scrollX="true" style="height: 100%" >
        <div class="scroll-content" style="overflow: scroll;" #scrollContent >
            <div *ngIf="goals.length > 0">
                <ion-list *ngIf="setting?.viewMode=='list'" class="events-list" margin-top [dragula]='"bag-one"' [dragulaModel]="goals">
                    <ng-template ngFor let-goal [ngForOf]="goals">
                    <ion-card *ngIf="!(goal.status==2&&setting.hideExpireGoals)"  [ngClass]="{'no-drag':goal.status != 1}" >
                        <ion-card-content>
                            <ion-item-sliding>
                                <ion-item (click)="goGoalDetailPage(goal.id,$event)" >
                                    <ion-icon name="checkmark-circle" class="check-icon"
                                              [class.active]="goal.is_today_checkin" item-start (click)="goGoalCheckinPage(goal.id,$event)"></ion-icon>
                                    <ion-label>
                                    <h2>{{goal.name}}</h2>
                                        <p>
                                            <button *ngIf="goal.status==0" color="gray" ion-button small outline>
                                                未开始
                                            </button>
                                            <button *ngIf="goal.status==1" color="secondary" ion-button small outline>
                                                进行中
                                            </button>
                                            <button *ngIf="goal.status==2" color="danger" ion-button small outline>已结束
                                            </button>
                                        </p>
                                    </ion-label>

                                    <ion-note item-end>
                                        <span text-center>{{goal.total_days}} / {{goal.expect_days>0?goal.expect_days:'--'}} </span>
                                    </ion-note>

                                </ion-item>
                                <!--<ion-item-options side="left">-->
                                    <!--<button ion-button   icon-only>-->
                                        <!--<ion-icon name="arrow-up"></ion-icon>-->
                                    <!--</button>-->
                                    <!--<button ion-button color="light" icon-only>-->
                                        <!--<ion-icon name="arrow-down"></ion-icon>-->
                                    <!--</button>-->
                                <!--</ion-item-options>-->
                                <ion-item-options side="right">
                                    <button ion-button color="primary" (click)="doCheckin(goal,$event)">
                                        打卡
                                    </button>
                                    <button ion-button color="danger" (click)="deleteGoal(goal)">
                                        删除
                                    </button>
                                </ion-item-options>
                            </ion-item-sliding>
                        </ion-card-content>
                        <ion-row>
                        <!--<p class="progress-title" style="width:20%" data-value="20"></p>-->
                        <!--<progress value="20" max="100">-->
                        <!--<div class="progress-bar">-->
                        <!--<span style="width: 20%;">20%</span>-->
                        <!--</div>-->
                        <!--</progress>-->
                        </ion-row>
                    </ion-card>
                    </ng-template>
                </ion-list>

                <ion-list *ngIf="setting?.viewMode=='card'" class="events-card" [dragula]='"bag-one"' [dragulaModel]="goals">
                    <ng-template ngFor let-goal [ngForOf]="goals">
                            <div  *ngIf="!(goal.status==2&&setting.hideExpireGoals)"  [ngClass]="{'no-drag':goal.status != 1}" class="card-col">
                            <ion-card>
                                <ion-card-header text-center>
                                    {{goal.name}}
                                </ion-card-header>
                                <ion-card-content text-center padding-top (click)="goGoalDetailPage(goal.id,$event)">
                                    <ion-icon name="checkmark-circle" class="check-icon"
                                              [class.active]="goal.is_checkin" (click)="goGoalCheckinPage(goal.id,$event)"></ion-icon>
                                </ion-card-content>
                                <ion-row class="footer">
                                    <ion-col class="status">
                                        <button *ngIf="goal.status==0" color="gray" ion-button small outline>未开始
                                        </button>
                                        <button *ngIf="goal.status==1" color="secondary" ion-button small outline>进行中
                                        </button>
                                        <button *ngIf="goal.status==2" color="danger" ion-button small outline>已完成
                                        </button>
                                    </ion-col>

                                    <ion-col class="time">
                                        <ion-note>
                                        {{goal.total_days}}天
                                        </ion-note>
                                    </ion-col>
                                    <!--<ion-note item-end>{{goal.total_days}}</ion-note>-->
                                </ion-row>
                            </ion-card>
                        </div>
                        </ng-template>
                </ion-list>

            </div>

            <div text-center style="position: absolute;left: 0;right: 0;top: 40%;" *ngIf="goals.length == 0">
                <p>还没有制定目标或计划</p>
                <button ion-button (click)="goGoalAddPage()">立即制定</button>
            </div>

        </div>
    </ion-scroll>


</ion-content>