<!--<ion-header>-->
    <!--<ion-toolbar color="light">-->
        <!--<ion-title>-->
            <!--分享-->
        <!--</ion-title>-->
        <!--<ion-buttons end>-->
            <!--<button ion-button (click)="dismiss()">-->
                <!--<span ion-text color="primary" showWhen="ios">关闭</span>-->
                <!--<ion-icon name="md-close" showWhen="android, windows"></ion-icon>-->
            <!--</button>-->
        <!--</ion-buttons>-->
    <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->
    <!--<div class="close-btn">-->
        <!--<ion-icon name="close" (click)="dismiss()"></ion-icon>-->
    <!--</div>-->
    <!--<div id="share-content" *ngIf="!shareImage">-->
        <!--<ion-card>-->
            <!--&lt;!&ndash;<div class="date" style="">-->
                <!--<span class="year">{{this.year}}</span>-->
                <!--<span class="month">{{this.month}}</span>-->
                <!--<span class="day">{{this.date}}<em>{{this.day}}</em></span>-->
            <!--</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<img src="https://source.unsplash.com/random/400x300" crossOrigin="anonymous"/>&ndash;&gt;-->
            <!--<div class="picture2">-->
                <!--<div class="date2">-->
                    <!--<div class="day">{{this.date}}</div>-->
                    <!--<div class="month">{{this.month}}</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<img src="https://source.unsplash.com/random/400x300"/>&ndash;&gt;-->
                <!--<img [src]="shareData.data.image" *ngIf="shareData.data.image"/>-->
                <!--<img src="https://source.unsplash.com/random/400x300" *ngIf="!shareData.data.image"/>-->

            <!--</div>-->
                <!--<ion-card-content text-center>-->
                <!--<ion-card-title>-->
                    <!--&lt;!&ndash;<img src="assets/img/default-avatar.jpg"> &ndash;&gt;-->
                    <!--{{shareData.extra.user?.nickname || '还没有昵称'}}-->
                <!--</ion-card-title>-->
                <!--<h2>坚持 <a>#{{shareData.extra.goal.name}}#</a>第{{shareData.extra.checkin?.total_days || 0}}天-->
                <!--</h2>-->
                <!--<br>-->
                <!--<p [innerHTML]="shareData.extra.content"></p>-->
            <!--</ion-card-content>-->
        <!--</ion-card>-->

        <!--<ion-list margin-top id="share-logo">-->
            <!--<ion-item no-border no-lines>-->
                <!--<ion-thumbnail item-start>-->
                    <!--<img src="assets/icon/drip.png">-->
                <!--</ion-thumbnail>-->
                <!--<h2>水滴打卡</h2>-->
                <!--<p>#见证持之以恒的力量#</p>-->
                <!--<img item-end src="assets/img/mp_qrcode.jpg" style="width: 64px;height: 64px;">-->
            <!--</ion-item>-->
        <!--</ion-list>-->
    <!--</div>-->

    <!--<div id="share-image" *ngIf="shareImage">-->
    <!--</div>-->

    <!--<ion-row>-->
        <!--<ion-col col-2></ion-col>-->
        <!--<ion-col col-8>-->
            <!--<button ion-button block round (click)="doShare()">分享</button>-->
        <!--</ion-col>-->
        <!--<ion-col col-2></ion-col>-->
    <!--</ion-row>-->

<!--</ion-content>-->


<ion-content>

    <div class="close-btn">
        <ion-icon name="close" (click)="dismiss()"></ion-icon>
    </div>

    <!--<div id="share-content" *ngIf="!shareImage">-->
    <!--<ion-card>-->
    <!--&lt;!&ndash;<div class="date" style="">-->
    <!--<span class="year">{{this.year}}</span>-->
    <!--<span class="month">{{this.month}}</span>-->
    <!--<span class="day">{{this.date}}<em>{{this.day}}</em></span>-->
    <!--</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<img src="https://source.unsplash.com/random/400x300" crossOrigin="anonymous"/>&ndash;&gt;-->
    <!--<div class="picture2">-->
    <!--<div class="date2">-->
    <!--<div class="day">{{this.date}}</div>-->
    <!--<div class="month">{{this.month}}</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<img src="https://source.unsplash.com/random/400x300"/>&ndash;&gt;-->
    <!--<img [src]="data.checkin?.image" *ngIf="data.checkin?.image"/>-->
    <!--</div>-->
    <!--<ion-card-content text-center>-->
    <!--<ion-card-title>-->
    <!--&lt;!&ndash;<img src="assets/img/default-avatar.jpg"> &ndash;&gt;-->
    <!--{{data.user?.nickname || '我已经'}}-->
    <!--</ion-card-title>-->
    <!--<h2>坚持 <a>#{{data.goal?.name}}#</a>第{{data.checkin?.total_days || '&#45;&#45;'}}天-->
    <!--</h2>-->
    <!--<br>-->
    <!--<p [innerHTML]="data.checkin?.content"></p>-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->

    <!--<ion-list margin-top id="share-logo">-->
    <!--<ion-item no-border no-lines>-->
    <!--<ion-thumbnail item-start>-->
    <!--<img src="assets/icon/drip.png">-->
    <!--</ion-thumbnail>-->
    <!--<h2>水滴打卡</h2>-->
    <!--<p>#见证持之以恒的力量#</p>-->
    <!--<img item-end src="assets/img/mp_qrcode.jpg" style="width: 64px;height: 64px;">-->
    <!--</ion-item>-->
    <!--</ion-list>-->
    <!--</div>-->

    <div id="shareImage" *ngIf="shareImage">
        <img [src]="shareImage">
    </div>


    <button ion-button block round (click)="doShare()" id="shareBtn">分享</button>

    <button ion-button block round (click)="doSave()" color="light" id="saveBtn">保存到相册</button>


</ion-content>