page-message-like {
  .content {
    background-color: #dedede;
  }
  .card {
    margin:12px 0;
    width: 100%;
  }

  blockquote {
    background-color: #f4f4f4;
    margin:3px 0;
    padding:10px;
    color:#999;
  }
}
