<ion-header>
  <ion-navbar color="white">
    <ion-title>鼓励和赞</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let message of messages">
      <ion-item  (click)="goUserHomePage(message.sender.id)">
        <ion-avatar item-start >
          <img [src]="message.sender.avatar_url">
        </ion-avatar>
        <h2>{{message.sender.nickname}}</h2>
        <p>{{message.created_at}}</p>
        <!--<dp-follow-button [followStatus]="message.user.is_following" [followUser]="message.user.id" item-end></dp-follow-button>-->
      </ion-item>
      <ion-card-content>
        <p>点赞了你的{{message.resource.name}}</p>
        <blockquote (click)="goEventDetailPage(message.resource.id)">
          <ion-img [src]="message.resource.image" *ngIf="message.resource.image"></ion-img>
          {{message.resource.content}}
        </blockquote>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="加载更多">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
