// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  //primary:    #488aff,
  ////primary: #0984e3,
  //secondary:  #32db64,
  //danger:     #f53d3d,
  //light:      #f4f4f4,
  //dark:       #222,
  //gray:       #ccc,
  //dark-gray:  #999,
  //yellow:     #ffeaa7,
  //orange:     #ffa502,
  primary:      #6e4cff,
  secondary:    #1dd1a1,
  danger:       #F44336,
  dark:         #2d3436,
  light:        #dfe6e9,
  gray:         #9E9E9E,
  light-gray:   #f4f4f4,
  yellow:       #f39c12,
  pink:         #f368e0,
  purple:       #6c5ce7,
  white:        #ffffff,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$segment-button-md-border-bottom-width: 0px;
$segment-button-md-font-size: 1.4rem;


$list-ios-header-font-size:	1.8rem;
$list-md-header-font-size:	1.8rem;

$toolbar-ios-title-font-size: 2.0rem;
$toolbar-ios-title-font-weight:	700;


$toolbar-md-title-font-size: 2.0rem;
$toolbar-md-title-font-weight:	700;

$toolbar-ios-button-color: map_get($colors,gray);
$toolbar-md-button-color: map_get($colors,gray);

$tabs-ios-tab-text-color-active: map_get($colors,dark)	;
$tabs-md-tab-text-color-active: map_get($colors,dark)	;
$tabs-ios-tab-icon-color-active: map_get($colors,dark)	;
$tabs-md-tab-icon-color-active: map_get($colors,dark)	;
