// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.my-toast {
  text-align: center;
  top:33px;
  .toast-message {
    padding:3px;
  }
  .toast-wrapper {
    left:0;
    right:0;
    border-radius: 0;
  }
}

.my-toast-success {
  .toast-wrapper {
    background: #5cb85c;
  }
}

.my-toast-error {
  .toast-wrapper {
    background: #d9534f;
  }
}

.my-toast-warning {
  .toast-wrapper {
    background: #f0ad4e;
  }
}

.my-alert-danger {
  background-color: white!important;
  color: red!important;
  button{
    color: red!important;
  }
}

.no-scroll>.scroll-content{
  overflow: hidden;
}

.red-point:after{
  position: absolute;
  content: ' ';
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: red;
  top: 10px;
  right: 35%;
}

.my-popover {
  .popover-content {
    width: 250px;
  }
}

.icon-vip-copy {
  font-size: 20px!important;
}

.segment-md .segment-button {
  color: color($colors, dark) !important;
  height:42px;
  line-height: 40px;
}
.segment-md .segment-button.segment-activated {
  color: color($colors, primary) !important;
  font-weight: bold;
  .bolder-sm{
    border: 2px solid color($colors, primary);
    width: 25px;
    margin: 0 auto;
  }
}
