// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.iconfont {
  font-size:32px!important;
}

.svg-iconfont {
  font-size:32px;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.my-toast {
  text-align: center;
  top: 33px;
  .toast-message {
    padding: 3px;
  }
  .toast-wrapper {
    left: 0;
    right: 0;
    border-radius: 0;
  }
}

.my-toast-success {
  .toast-wrapper {
    background: #5cb85c;
  }
}

.my-toast-error {
  .toast-wrapper {
    background: #d9534f;
  }
}

.my-toast-warning {
  .toast-wrapper {
    background: #f0ad4e;
  }
}

.my-alert-danger {
  background-color: white !important;
  color: red !important;
  button {
    color: red !important;
  }
}

.no-scroll > .scroll-content {
  overflow: hidden;
}

.red-point:after {
  position: absolute;
  content: ' ';
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: red;
  top: 10px;
  right: 35%;
}

.my-popover {
  .popover-content {
    width: 250px;
  }
}

.icon-vip-copy {
  font-size: 20px !important;
}

//.segment-md .segment-button {
//  color: color($colors, dark) !important;
//  height:34px;
//  line-height: 28px;
//}
//.segment-md .segment-button.segment-activated {
//  color: color($colors, primary) !important;
//  font-weight: bold;
//  .bolder-sm{
//    border: 2px solid color($colors, primary);
//    width: 25px;
//    margin: 0 auto;
//  }
//}

.badge-ios-yellow, .badge-md-yellow {
  color: #312929;
}

.badge-ios-orange, .badge-md-orange {
  color: #fff;
}

.gray-content {
  background-color: #dedede !important;
}

.text-md-orange, .text-ios-orange {
  //color:#fff;
}

.icon-font {
  width: 1.5em;
  height: 1.5em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
}


.toolbar-background {
  background-color: #fff;
}
.bar-button {
  color: map-get($colors, gray);
}


ion-header ion-icon.back-button-icon.icon {

}

.list-header {
  border-bottom: 0 !important;
}

.gray-list {
  .card {
    background-color: #e4e4e4;

    .item {
      background-color: #e4e4e4;
    }

    .card-header {
      padding: 9px;
      background-color: #e4e4e4;
      border-radius: 6px;
    }
  }

  ion-item-sliding {
    background-color: #e4e4e4;
  }

  .item {
    border:0!important;
    -webkit-box-shadow:none!important;
    box-shadow: none!important;

    .label,h2 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .note {
      font-size: 1.4rem;
      font-weight: 600;
      color: #4a4a4a;
    }

    .icon {
      color: #9E9E9E;
    }

    .text-input {
      height: 42px;
      border: 0;
      background-color: #e4e4e4;
      border-radius: 6px;
    }

    textarea.text-input{
      height: auto!important;
    }


    p{
      margin-top: 10px;
      font-weight: 500;
    }

  }

  .item-inner {
    border:0!important;
    -webkit-box-shadow:none!important;
    box-shadow: none!important;
  }

  .no-margin-top {
    margin-top: 0;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }
}

body.swal2-iosfix {
  position: static !important;
}

