.page-welcome {
  background-color:#488aff;
  font-family:"Aldrich";

  //.container {
  //  height:10%;
  //}

  .title {
    position:absolute;
    top:20%;
    left:0;
    right:0;
    color:#fff;
    text-align:center;
    h2 {
      text-align: center;
      margin: auto;
    }
  }

  .days {
    font-size:5em;
    position:absolute;
    top:35%;
    left:0;
    right:0;
    color:#fff;
    text-align:center;
    //color:#488aff;
    padding:20px;

    .day{
      background-color:#fff;
      color:#488aff;
    }
  }

  .line {
    position: absolute;
    top: 47%;
    height: 3px;
    left: 10px;
    right: 0;
    z-index: 100;
    //background-color: #fff;
    width: 80%;
  }
}
