<ion-content class="no-scroll" no-bounce (swipe)="swipeEvent($event)" [ngStyle]="{'background-image':'url('+info?.image+')'}">
    <div class="wrap-mask"></div>

    <div class="container">
    <div class="row date">
        <ion-col text-left>
            {{info?.date}} {{info?.week}}
          <ion-icon name="sunny" *ngIf="time=='morning'"></ion-icon>
          <ion-icon name="moon" *ngIf="time=='evening'"></ion-icon>
        </ion-col>
        <ion-col text-right>DAY.{{info?.days}}</ion-col>
    </div>

    <ion-row class="quote">
      <p class="quote-content" [innerHtml]="info?.word_content"></p>
      <p class="quote-people" *ngIf="info?.word_author">--《{{info?.word_author}}》</p>
<!--       <ion-icon class="light" name="ios-camera-outline"></ion-icon>
 -->    </ion-row>

    <!--<h1 class="day">1489</h1>-->
   <!--  <ion-row  class="title"><h2 text-center ion-text>#坚持水滴打卡#</h2></ion-row>
    <ion-row class="days" >
      <ion-col col-3 *ngFor="let day of days">
        <div class="line"></div>
        <div class="day">{{day}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="title2"><span text-center ion-text>天</span></ion-row>-->

    <ion-row class="action">
      <button ion-button round block color="primary" (click)="doShare()">分享日签</button>
      <!--<button ion-button outline round block color color="light" (click)="doShare()">分享日签</button>-->
    </ion-row>

    <div class="timer" (click)="goHomePage()">
        <span>{{second}}s</span>
        跳过
    </div>

  </div>
</ion-content >
