<ion-toolbar class="week-toolbar" no-border-top>
    <ul [class]="'week-title ' + color">
        <li *ngFor="let w of _weekArray">{{w}}</li>
    </ul>
</ion-toolbar>
<div >
    <div class="days-box">
        <div class="days" *ngFor="let day of _dayArray?.days" class="days">
            <button class="days-btn"
                    *ngIf="day"
                    [class.today]="day.isToday"
                    (click)="onSelected(day)"
                    [class.on-selected]="isSelected(day)"
                    [disabled]="day.disable">
                <p>{{day.title}}</p>
            </button>
            <div class="day-events" *ngIf="day.events>0">
                <span class="orange"></span>
            </div>
        </div>
    </div>

</div>

