page-user-home {

  ion-title {
   img {
      margin-top:5px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      vertical-align:middle;
    }

    span {
      line-height:32px;
      margin-left:5px;
    }
  }

  .profile-row {
    background-color: color($colors, 'primary');
    color:#fff;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  .follow-row {
    background-color: #488aff;
    .num {
      font-family: Oswald;
      font-size: 1.8rem;
      color:#fff;
    }
    p {
      //color:#999;
      color:#fff;
    }
  }

  .tab-buttons {
    width:200px;
  }

  .tab-buttons-container {
    width: 150px;
    margin:0 auto;
  }
}
