page-user-home {

  #content,ion-header >.toolbar>.toolbar-background {
    background-color: color($colors,primary)!important;
  }

  .svg-iconfont {
    font-size: 16px!important;
  }

  #content {
    //background-image: url("http://pic3.16pic.com/00/47/09/16pic_4709087_b.jpg");
    //background-repeat: no-repeat;
    //background-color:transparent!important;
    //background-size: cover;
    //background-position-x: 50%;
    //background-position-y: 50%;
    .scroll-content{
      border:0;
    }
  }

  .bar-buttons,
  .back-button,
  .toolbar-title {
    color: #fff;
  }

  ion-title {
    text-align: center;
   img {
      margin-top:5px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      vertical-align:middle;
    }

    span {
      line-height:32px;
      margin-left:5px;
    }
  }


  .icon-with-bg,.icon-with-bg2{
    position: relative;
  }

  .icon-with-bg::after{
    position: absolute;
    content: '';
    background: #fff;
    z-index: -1;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
  }

  .icon-with-bg2::after{
    position: absolute;
    content: '';
    background: #fff;
    z-index: -1;
    top: 5px;
    left: 3px;
    width: 11px;
    height: 8px;
  }


  .profile-row {
    //background-image: url("http://img.hb.aicdn.com/54573345540979c5c2f84fba0c0a36e56bd27e2de249-cDsrfs_fw658");
    //background-color: color($colors, 'primary');
    color:#fff;
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  .follow-row {
    //background-color: #488aff;
    .num {
      font-family: Oswald;
      font-size: 1.8rem;
      color:#fff;
    }
    p {
      //color:#999;
      color:#fff;
    }
  }

  .tab-buttons {
    width:200px;
  }

  .tab-buttons-container {
    width: 150px;
    margin:0 auto;
  }

  .vip-btn {
    padding:2px;
    height: 1.4rem;
    font-size: 1.4rem;
    margin-bottom: 14px;
  }
}
