
<ion-content>

    <dp-loader *ngIf="isLoading"></dp-loader>

    <dp-event [eventSource]="events" *ngIf="events.length>0"></dp-event>

    <div text-center style="position: absolute;left: 0;right: 0;top: 40%;"  *ngIf="!isLoading&&events.length == 0">
        <p>暂时还没有动态</p>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载更多">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
