page-vip {
  ion-slides { height: initial; }

  h2 {
    font-size:2.5rem!important;
    margin-bottom: 10px!important;
  }

  ul {
    padding-left: 20px;
  }

  .card-content {
    position: relative;
    color:#fff;
  }

  .buy-btn-month {
    position: absolute;
    right:10px;
    top:30%;
    min-width: 80px ;
  }

  .buy-btn-year {
    position: absolute;
    right:10px;
    top:55%;
    min-width: 80px ;
  }

  .gray-card {
     background-color:  #9E9E9E;
  }

  .yellow-card {
     background-color:  #f39c12;
  }

  .blue-card {
     background-color:  color($colors, 'primary');
  }

  ion-footer {
    ion-list {
      margin-bottom: 0px!important;
    }
  }
}
