<ion-header no-border>
    <ion-navbar>
        <ion-title>水滴会员</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <!-- <ion-slides>
        <ion-slide>
            <h1>&nbsp;日历/周历视图</h1>
            <br />
            PRO用户可以在目标列表的右上角菜单里选择自己的目标视图模式。<br />
            <br />
            <img src="http://file.growu.me/1513932612512_vip-10.png" style="height:415px; width:320px" /><br />
            <br />
            周历模式<br />
            <br />
            <img src="http://file.growu.me/1513932653462_vip-11.png" style="height:445px; width:320px" /><br />
            <br />
            日历模式<br />
            <br />
            <br />
            <img src="http://file.growu.me/1513932663733_vip-12.png" style="height:388px; width:320px" /><br />
            <br />
            小提示：
            <ol style="text-align: left;">
                <li style="margin-bottom: 10px;">日历视图开启后，向上👆或者向下👇滑动 日历，进行周历和月历模式的快速切换；</li>
                <li style="margin-bottom: 10px;"    >日历视图开启后，默认显示的是当天的计划列表，可以单击日期选择查看某一天的计划安排；</li>
                <li>日历视图开启后，向左👈或向右👉滑动，可以切换到上一周（月）和下一周（月）。</li>
            </ol>
            <br />
            如果想关闭此功能，直接在菜单栏选择&ldquo;不显示&rdquo;即可。
        </ion-slide>
        <ion-slide>
            <h1>自定义排序</h1>
            <br />
            PRO用户可以对目标的顺序进行自定义排序，<br />
            <br />
            具体入口：目标列表-菜单-自定义排序<br />
            <br />
            <img src="http://file.growu.me/1513934542374_QQ20171222-171507@2x.png" style="height:308px; width:320px" /><br />
            <br />
            开启排序后，就可以拖拽目标进行自定义排序了。<br />
            <br />
            <img src="http://file.growu.me/1513935208490_QQ20171222-171554@2x.png" style="height:310px; width:320px" /><br />
            <br />
            <br />
            <img src="http://file.growu.me/1513935220674_QQ20171222-171626@2x.png" style="height:350px; width:320px" /><br />
            <br />
            <span style="color:#e74c3c"><span style="background-color:#ffffff">注意：排序完成后，请注意一定要点击右上角的&ldquo;☑️&rdquo;按钮保存排序，否则不生效。</span></span><br />
            <br />
            <span style="background-color:#ffffff"><span style="color:null">目标排序只针对&ldquo;进行中&rdquo;的目标，目标排序的总体规则仍然按照 未开始-&gt;进行中-&gt;已结束 由上往下显示。</span></span>
        </ion-slide>
    </ion-slides> -->
    <!-- <ion-row>
      水滴会员是针对不同层次用户听过的一项服务，水滴打卡将持续为用户提供免费的服务，高级服务购买支持水滴币兑换。
    </ion-row> -->
    <ion-grid style="height: 100%">
      <ion-row justify-content-center  align-items-center style="height: 100%">
      <ion-card  class="gray-card">
        <ion-card-content>
          <h2>免费会员</h2>
          <ul>
            <li>总目标上限5个</li>
            <li>单目标提醒上限5个</li>
            <li>单目标计数上限1个</li>
            <li>限个人目标</li>
          </ul>
          <button ion-button small class="buy-btn-year" color="danger">免费</button>
        </ion-card-content>
      </ion-card>
      </ion-row>
      <ion-row margin-top  margin-bottom justify-content-center  align-items-center style="" >
        <ion-card class="yellow-card" padding-top>
          <ion-card-content>
            <h2>PRO会员</h2>
            <ul>
              <li>总目标上限10个</li>
              <li>单目标提醒上限10个</li>
              <li>单目标计数不限</li>
              <li>限个人目标</li>
            </ul>
              <button ion-button small class="buy-btn-month" color="light"  (click)="buyVip(19)">9元/月</button>
              <button ion-button small class="buy-btn-year" color="danger"  (click)="buyVip(20)">99元/年</button>
          </ion-card-content>
        </ion-card>
      </ion-row>

      <ion-row  margin-top justify-content-center  align-items-center style="height: 100%">
        <ion-card class="blue-card">
          <ion-card-content>
            <h2>TEAM会员</h2>
            <ul>
                <li>总目标无限制</li>
                <li>单目标提醒无限制</li>
                <li>单目标计数不限</li>
                <li>个人/小组目标</li>
                <li>开通收益功能</li>
            </ul>
              <button ion-button small class="buy-btn-month" color="light"  (click)="buyVip(21)">99元/月</button>
              <button ion-button small class="buy-btn-year" color="danger"  (click)="buyVip(22)">999元/年</button>
          </ion-card-content>
        </ion-card>
      </ion-row>
  </ion-grid>


</ion-content>

<ion-footer>
     <ion-list>
        <ion-item>
            <p>我的会员</p>
            <h2 *ngIf="user?.vip_type == 0">免费会员</h2>
            <h2 *ngIf="user?.vip_type == 1">PRO会员</h2>
            <h2 *ngIf="user?.vip_type == 2">TEAM会员</h2>

            <!--<ion-badge color="gray" *ngIf="user?.vip_type == 0">FREE</ion-badge>-->
                <!--<ion-badge color="yellow" *ngIf="user?.vip_type == 1">PRO</ion-badge>-->
                <!--<ion-badge color="primary" *ngIf="user?.vip_type == 2">TEAM</ion-badge>-->
            <ion-note item-end *ngIf="user?.vip_type>0">{{user.vip_end_date}}到期</ion-note>
        </ion-item>
    </ion-list>
</ion-footer>
