<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{article?.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <p [innerHtml]="article?.content"></p>

  <ion-list>
    <ion-list-header>
      全部评论 {{comments.length}}
    </ion-list-header>
    <ion-card class="comment-card" *ngFor="let comment of comments">
      <ion-item (click)="showCommentMenu(comment)">
        <ion-avatar small item-start>
          <img [src]="comment.user.avatar_url">
        </ion-avatar>
        <h2>{{comment.user.nickname}}</h2>
        <p>{{comment.created_at | amLocale:"zh_cn" | amUtc | amTimeAgo }}</p>
        <ion-icon name="ios-redo-outline" item-end (click)="showReplyComment(comment,$event)"></ion-icon>
        <ion-icon name="ios-thumbs-up-outline" item-end (click)="doLikeComment(comment,$event)"> {{comment.like_count}}</ion-icon>
      </ion-item>
      <ion-card-content>
        <p>{{comment.content}}</p>
        <blockquote *ngIf="comment.reply">
          <a> {{comment.reply.user.nickname}}</a>
          {{comment.reply.content}}
        </blockquote>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-fab buttom right edge>
    <button ion-fab mini><ion-icon name="reply"></ion-icon></button>
  </ion-fab>

</ion-content>

<ion-footer>
</ion-footer>