<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{article?.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!--<ion-fab bottom right color="light" *ngIf="!isComment" (click)="isComment = !isComment">-->
    <!--<button ion-fab mini><ion-icon name="ios-chatbubbles-outline"></ion-icon></button>-->
  <!--</ion-fab>-->

  <p padding [innerHtml]="article?.content"></p>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small text-left>
        「阅读原文」
      </button>
    </ion-col>
    <ion-col>

    </ion-col>
    <ion-col center text-center text-right (click)="doLike()">
        <ion-icon name="thumbs-up"  color="primary"></ion-icon>
        <span ion-text color="primary"> {{article?.like_count}}</span>
    </ion-col>
  </ion-row>

  <div style="background-color:#e8e8e8;min-height: 400px;">
  <div text-center>
    <button ion-button clear  (click)="isComment = !isComment">写评论</button>
  </div>

  <ion-list *ngIf="article?.comments.length>0">
      <ion-item *ngFor="let comment of article?.comments">
        <ion-avatar small item-start>
          <img [src]="comment.user.avatar_url">
        </ion-avatar>
        <h2>{{comment.user.nickname}}</h2>
        <p>{{comment.content}}</p>
        <!--<ion-icon name="ios-redo-outline" item-end (click)="showReplyComment(comment,$event)"></ion-icon>-->
        <ion-note item-end>
          <ion-icon color="primary" name="ios-thumbs-up-outline"  (click)="doLikeComment(comment,$event)"> {{comment.like_count>0?comment.like_count:''}}</ion-icon>
        </ion-note>
      </ion-item>
  </ion-list>

  </div>


</ion-content>

<ion-footer>

  <ion-toolbar *ngIf="isComment">

    <ion-item >
      <ion-input type="text"  clearInput #commentInput [(ngModel)]="content" [placeholder]="reply_comment?'回复'+reply_comment.user?.nickname||''+': ':'据说评论别人可以变得更强？.'"></ion-input>
      <button ion-button item-end (click)="doComment()">发布</button>
    </ion-item>

  </ion-toolbar>
</ion-footer>