page-goal-home {

  .goal-desc {
    min-height: 120px;
    background-color: #fff;
  }

  .formulate-btn {
    position: fixed;
    bottom: 20px;
    left:0;
    right:0;
    z-index: 1000;
  }

  ion-item {
    line-height: 60px!important;
  }
}
