page-wallet {
  .wallet-header {
    background-color: #fff;
    margin-bottom: 20px;
    padding-top:10px;
  }
  .num {
    font-size: 30px;
    font-family: "Oswald","Segoe UI", "Noto Sans", sans-serif;
  }
}
