<div *ngIf="_eventSource">
<ion-card *ngFor="let event of _eventSource">
  <ion-item (click)="goUserHomePage(event.owner)">
    <ion-avatar item-start>
      <img [src]="event.owner?.avatar_url || 'assets/img/default-avatar.jpg'">
    </ion-avatar>
    <h2>{{event.owner?.nickname || '一颗小水滴'}} </h2>
    <p>{{event.created_at | amLocale:"zh_cn" | amUtc | amTimeAgo }}</p>
  </ion-item>

  <div class="event-image">
    <img [src]="attach.url" *ngFor="let attach of event.attachs" imageViewer>
  </div>

  <ion-card-content (click)="goEventDetailPage(event.id)">
    <p [innerHTML]="event.content"></p>
    <blockquote>完成<a> {{event.goal.name}} </a>第 {{event.checkin?.total_days || 0}} 天</blockquote>
  </ion-card-content>

  <ion-row class="action-toolbar">
    <ion-col>
      <button ion-button icon-left clear small (click)="doLike(event)">
        <ion-icon name="ios-thumbs-up-outline" isActive="false" *ngIf="!event.is_like" color="dark-gray"></ion-icon>
        <ion-icon name="ios-thumbs-up" isActive="true" *ngIf="event.is_like" color="primary"></ion-icon>
        <div>{{event.like_count}}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)="goEventDetailPage(event.id)">
        <ion-icon name="ios-text-outline"></ion-icon>
        <div>{{event.comment_count}}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <button ion-button icon-left clear small (click)="showMore()">
        <ion-icon name="ios-more-outline"></ion-icon>
        <div></div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
</div>
